# Игнорируем папки сборки
.next/
out/
dist/
build/

# Игнорируем зависимости
node_modules/

# Игнорируем конфигурационные файлы
*.config.js
*.config.mjs
*.config.ts

# Игнорируем файлы с типами
*.d.ts

# Игнорируем тестовые файлы
**/*.test.*
**/*.spec.*

# Игнорируем файлы с миграциями и SQL
*.sql
*.md

# Игнорируем файлы с переводами
**/translations.ts
**/i18n/

# Игнорируем файлы с константами
**/constants.ts
**/config.ts
